* {
    padding: 0;
    margin: 0;
}
.pic-e {
    margin: 0 auto;
    width: 1000px;
    background-image: url(./Kaws\ wallpaper.jpg);
    
}

.pic-g {
    border-style: outset ;
    border-radius: 80px;
    border-color: rgba(236, 232, 227, 0.795);
    overflow: hidden;
}

.pic-r {
    border-style: outset ;
    border-radius: 70px;
    border-color: rgba(8, 230, 126, 0.582);
    overflow: hidden;
}

.pic-o {
    border-style: outset ;
    border-radius: 90px;
    border-color: rgb(180, 169, 6);
    overflow: hidden;
}

.pic-t {
    border-style: outset ;
    border-radius: 80px;
    border-color: goldenrod;
    overflow: hidden;
    width: 500px;
}